@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "sfRegular";
  src: local("SF-Pro-Regular"),
    url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "sfSemiBold";
  src: local("SF-Pro-SemiBold"),
    url("/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "sfBold";
  src: local("SF-Pro-Bold"),
    url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

.glow-on-hover {
  position: relative;
  animation: glowPulse 6s ease-in-out infinite;
}

@keyframes glowPulse {
  0% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.3);
  }

  50% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
  }

  100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.3);
  }
}

@keyframes glowing {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}




.dynamic-island {
  display: none;
  justify-content: center;
  align-items: center;
  border: 3px solid #0000;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(var(--angle), #070707, #687aff, #cf68ff, #68d7ff) border-box;
  animation: 8s rotate linear infinite;
}

@media (min-width: 768px) {

  .dynamic-island {
    display: flex;
  }
}


::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}




@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}










.slick-slide>div {
  margin: 0 10px;
}